<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Quiz App</title>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div class="main-container">
    <div id="create-quiz">
      <h1> Create Your Quiz!</h1>
      <form id="create-quiz" action="/quizzes" method="POST">
        <label for="name">Quiz Title:</label>
        <input id="quiz-title" type="text" name="quiz-title">
        <br>
        <br>
        <label for="name">Your Name:</label>
        <input id="quiz-title" type="text" name="name">
        <br>
        <div class="privacy">
          <br>
          <p>Make your quiz private?</p>
          <input type="radio" id="private-yes" name="private" value="yes">
          <label for="private-yes">Yes</label>
          <input type="radio" id="private-no" name="private" value="no">
          <label for="private-no">No</label>
        </div>
        <br>
        <br>
        <div class="questions">
          <label for="question1">Your Question:</label>
          <input id="question-text" type="text" name="question1">
          <label>Answer 1</label>
          <input name="q1a1">
          <input type="checkbox" name="q1a1isCorrect">
          <label>Answer 2</label>
          <input name="q1a2">
          <input type="checkbox" name="q1a2isCorrect">
          <label>Answer 3</label>
          <input name="q1a3">
          <input type="checkbox" name="q1a3isCorrect">
          <label>Answer 4</label>
          <input name="q1a4">
          <input type="checkbox" name="q1a4isCorrect">
        </div>
        <br>
        <div class="questions">
          <label for="question2">Your Question:</label>
          
          <input id="question-text" type="text" name="question2">
          <label>Answer 1</label>
          <input name="q2a1">
          <input type="checkbox" name="q2a1isCorrect">
          <label>Answer 2</label>
          <input name="q2a2">
          <input type="checkbox" name="q2a2isCorrect">
          <label>Answer 3</label>
          <input name="q2a3">
          <input type="checkbox" name="q2a3isCorrect">
          <label>Answer 4</label>
          <input name="q2a4">
          <input type="checkbox" name="q2a4isCorrect">
        </div>
        <br>
        <div class="questions">
          <label for="question3">Your Question:</label>
          <input id="question-text" type="text" name="question3">
          <label>Answer 1</label>
          <input name="q3a1">
          <input type="checkbox" name="q3a1isCorrect">
          <label>Answer 2</label>
          <input name="q3a2">
          <input type="checkbox" name="q3a2isCorrect">
          <label>Answer 3</label>
          <input name="q3a3">
          <input type="checkbox" name="q3a3isCorrect">
          <label>Answer 4</label>
          <input name="q3a4">
          <input type="checkbox" name="q3a4isCorrect">
        </div>
        <br>
        <br>
        <button type="submit">Create</button>

      </form>
    </div>
    </div>
    </body>


<!-- share link to single quiz -->
<!-- quiz id -->
<!-- name of quiz -->
<!-- user name -->
<!-- question -->
<!-- add question button -->
<!-- answer -->
<!-- finish button -->
