<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Quiz App</title>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <div class="questions-container">
      <div class="create-question">
        <h2>Create Your Question</h2>
        <form id="quiz-question">
          <label for="question">Your Question:</label>
          <input id="question-text" type="text" name="question">
          <br>
          <br>
        </form>
        <div class="answers">
          <h3>Please enter four options:</h3>
          <br>
          <form id="answers-form">
            <div>
              <input type="number" name="quiz_id" placeholder="Enter Option 1">
              <input type="checkbox"
            </div>
            <br>
            <br>
            <div>
              <input type="number" name="quiz_id" placeholder="Enter Option 2">
              <input type="checkbox"
            </div>
            <br>
            <br>
            <div>
              <input type="number" name="quiz_id" placeholder="Enter Option 3">
              <input type="checkbox"
            </div>
            <br>
            <br>
            <div>
              <input type="number" name="quiz_id" placeholder="Enter Option 4">
              <input type="checkbox"
            </div>
            <br>
            <br>
            <button type="submit">Add Question</button>
            <button type="submit">Finish</button>
          </form>
        </div>
      </div>
    </div>

  </form>
</div>
</div>
</body>

</html>
