<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Quiz</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css"/>
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/layout.scss" type="text/css"/>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div class="main-container">
    <div id="create-quiz">
      <h1> Create Your Own Quiz!</h1>
      <form id="create-quiz">
        <label for="name">Quiz Title:</label>
        <input id="quiz-title" type="text" name="name">
        <br>
        <div class="privacy">
          <p>Make your quiz private!</p>
          <input type="radio" id="private-yes" name="private" value="yes">
          <label for="private-yes">Yes</label>
          <input type="radio" id="private-no" name="private" value="no">
          <label for="private-no">No</label>
        </div>
        <div class="questions-container">
          <div class="create-question">
            <h2>Create Your Question</h2>
            <form id="quiz-question">
              <label for="question">Your Question:</label>
              <input id="question-text" type="text" name="question">
              <button type="submit">Submit question</button>
            </form>
            <div class="answers">
              <h3>Please create 4 possible answers:</h3>
              <form id="answers-form">
                <label for="answer1">Answer 1</label>
                <input id="textbox1" class="textbox" type="text" name="answer1">
                <input type="radio" name="isRighta1" value="false">Is incorrect?</input>
                <input type="radio" name="isRighta1" value="true">Is correct?</input>
                <br>
                <label for="answer2">Answer 2</label>
                <input id="textbox2" class="textbox" type="text" name="answer2">
                <input type="radio" name="isRighta2" value="false">Is incorrect?</input>
                <input type="radio" name="isRighta2" value="true">Is correct?</input>
                <br>
                <label for="answer3">Answer 3</label>
                <input id="textbox3" class="textbox" type="text" name="answer3">
                <input type="radio" name="isRighta3" value="false">Is incorrect?</input>
                <input type="radio" name="isRighta3" value="true">Is correct?</input>
                <br>
                <label for="answer4">Answer 4</label>
                <input id="textbox4" class="textbox" type="text" name="answer4">
                <input type="radio" name="isRighta4" value="false">Is incorrect?</input>
                <input type="radio" name="isRighta4" value="true">Is correct?</input>
                <br>
                <button type="submit">Submit answers</button>
              </form>
            </div>
          </div>
        </div>
        <button type="submit">Submit Quiz</button>
      </form>
    </div>
  </div>
</body>

</html>

<!-- share link to single quiz -->
<!-- quiz id -->
<!-- name of quiz -->
<!-- user name -->
<!-- question -->
<!-- add question button -->
<!-- answer -->
<!-- finish button -->
