<!-- <div class="answer-results">
  <% for (let answer of attempt) { %>
    <span class="question-results"> Question: <%= answer.question %></span>
    <span class="input-answer"> Your Answer: <%= answer.answer %></span>
    <% if (answer.iscorrect===false) { %>
      <span class="false">WRONG</span>
      <br>
      <% } else { %>
        <span class="true">CORRECT</span>
      <br>
    <% } %>
  <% } %>
</div> -->
