<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Results</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css"/>
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/layout.scss" type="text/css"/>
</head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div class="results-container">
    <div class="results">
      <h1>Quiz Result!</h1>
      <h1></h1>
    </div>
  </div>
</body>
</html>
