<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Take A Quiz!</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css"/>
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/layout.scss" type="text/css"/>
</head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div class="quiz-container">
    <div class="take-quiz-container">
      <h2>Your Quiz:</h2>
      <h3>Please click on one answer per question</h3>
      <div>
        <form >
          <div class="questions-and-answers">
            <div class="answers">
            </div>
          </div>
          <button class="btn-submit_answer" type="submit">Submit Answers</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
