<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Quiz App</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/take.scss"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div class="quiz-container">
    <div class="take-quiz-container">
      <h2>Your Quiz:</h2>
      <h3>Only choose one answer per question</h3>
      <div>
        <form >
          <div class="questions-and-answers">
            <div class="answers">
            </div>
          </div>
          <button class="btn-submit_answer" type="submit">Complete Quiz</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
